* {
  margin: 0;
  font-size: 0;
}
body {
  position: relative;
  width: 1080px;
  height: 720px;
  background: #000000;
}
#container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
#remoteContainer {
  position: absolute;
  left: 0;
  top: 0;
}
video {
  object-fit: fill;
}